$fireColor: rgb(255,80,0);
$fireColorT: rgba(0, 255, 64, 0);
$dur: 2s;
$blur: 0.04em;
$fireRad: 3em;
$parts: 50;
$partSize: 5em;
@media (max-width: 640px) {
  $partSize: 3em;
}

.fire {
	font-size: 24px;
	filter: blur($blur);
	-webkit-filter: blur($blur);
	margin: 3em auto 0 auto;
	position: relative;
	width: 10em;
	height: 10em;
    z-index: -10;
}
.particle {
	animation: rise $dur ease-in infinite;
	background-image: radial-gradient($fireColor 20%,$fireColorT 70%);
	border-radius: 50%;
	mix-blend-mode: screen;
	opacity: 0;
	position: absolute;
	bottom: 0;
    width: 5em;
    height: 5em;
  
    @media (max-width: 640px) {
      width: 3em;
      height: 3em;
    }
    z-index: -10;
	// spread particles out in time and x-position to get desired effect
	@for $p from 1 through $parts {
		&:nth-of-type(#{$p}) {
			animation-delay: $dur * random();
			left: calc((100% - #{5em}) * #{($p - 1)/$parts});
            @media (max-width: 640px) {
                left: calc((100% - #{3em}) * #{($p - 1)/$parts});
              }
		}
	}
}
@keyframes rise {
	from {
		opacity: 0;
		transform: translateY(0) scale(1);
	}
	25% {
		opacity: 1;
	}
	to {
		opacity: 0;
		transform: translateY(-10em) scale(0);
	}
}