@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 255, 190, 147;
  --background-end-rgb: 167, 199, 231;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

#appDiv {
  background: linear-gradient(-45deg, #ffbe93, #a7c7e7, #ffbe93, #a7c7e7);
  background-size: 400% 400%;
  animation: gradient 8s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
